body{
  background-color: #ccff99;
}



.title {
  float: left;

}

.header{
  background-color:#26d0c9;
  height:250px;

}

.cat{
  width: 250px;
  height: 230px;
  padding: 10px 100px 10px 100px;
}

.cat2{
  width: 250px;
  height: 250px;
  padding: 0px 0px 0px 50px;
}

.title2{
  width: 600px;
  height: 70px;
  font-size: 80px;
  padding: 10px 10px 10px 0px;
}

.coment{
  font-size:35px;
  padding:0px 0px 0px 500px;
}

.message{
  padding:10px 500px;
}
