body{
  background-color: #ccff99;
}

.header{
  background-color:#26d0c9;
  height:250px;
}
.item{
  width:33%;
  float:left;
  text-align: center;
}

.cat{
  height:220px;
  width:300px;
  padding: 20px 0 0 0;
}
.main{
  width:400px;
  text-align:center;
  padding: 60px 0 0 0;
  font-size: 50px
}
.cat2{
  height:250px;
  width:300px;

}

.coment{
  font-size:35px;
  text-align: center;
}

.message{
  padding:10px 500px;
